<div class="skills-container">
  <div class="">
    <div class="page-title"><span class="high-light">Skills</span></div>
    <div class="skill-items">
      <span class="skill-item">
        <i class="fa-brands fa-html5 skill-icon"></i>
        <span class="skill-name">HTML5</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-css3-alt skill-icon"></i>
        <span class="skill-name">CSS3</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-sass skill-icon"></i>
        <span class="skill-name">SCSS & SASS</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-bootstrap skill-icon"></i>
        <span class="skill-name">Bootstrap</span>
      </span>
      <span class="skill-item">
        <img src="../../../assets/img/tailwind-icon-ffffff.png" class="skill-icon color-ffffff">
        <img src="../../../assets/img/tailwind-icon-222233.png" class="skill-icon color-222233">
        <span class="skill-name">Tailwind</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-js skill-icon"></i>
        <span class="skill-name">JavaScript</span>
      </span>
      <span class="skill-item">
        <img src="../../../assets/img/ts-icon-ffffff.png" class="skill-icon color-ffffff">
        <img src="../../../assets/img/ts-icon-222233.png" class="skill-icon color-222233">
        <span class="skill-name">TypeScript</span>
      </span>
      <span class="skill-item">
        <img src="../../../assets/img/jquery-icon-ffffff.png" class="skill-icon color-ffffff">
        <img src="../../../assets/img/jquery-icon-222233.png" class="skill-icon color-222233">
        <span class="skill-name">JQuery</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-angular skill-icon"></i>
        <span class="skill-name">Angular</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-php skill-icon"></i>
        <span class="skill-name">PHP</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-laravel skill-icon"></i>
        <span class="skill-name">Laravel</span>
      </span>
      <span class="skill-item">
        <i class="fa-solid fa-database skill-icon"></i>
        <span class="skill-name">SQL & MySQL</span>
      </span>
      <span class="skill-item">
        <img src="../../../assets/img/rest-api-icon-ffffff.png" class="skill-icon color-ffffff">
        <img src="../../../assets/img/rest-api-icon-222233.png" class="skill-icon color-222233">
        <span class="skill-name">Rest API</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-git-alt skill-icon"></i>
        <span class="skill-name">Git</span>
      </span>
      <span class="skill-item">
        <i class="fa-brands fa-github skill-icon"></i>
        <span class="skill-name">GitHub</span>
      </span>
    </div>
  </div>
</div>