<div class="app-nav-bar">
  <div class="app-nav-bar-container">
    <a routerLink="/" class="logo-container">
      <img src="../../../assets/img/logo.png" class="logo-img" alt="A" />
      <span>Abdelrhman</span>
    </a>
    <div class="menu-btn" (click)="toggleLinks()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="app-nav-bar-links" [ngClass]="{show: this.showLinks}" (click)="hideLinks()">
      <a class="app-nav-bar-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="app-nav-bar-link" routerLink="/skills" routerLinkActive="active">Skills</a>
      <a class="app-nav-bar-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      <a class="app-nav-bar-link" routerLink="/about" routerLinkActive="active">About</a>
      <a class="app-nav-bar-link" routerLink="/contact-me" routerLinkActive="active">Contact</a>
    </div>
  </div>
</div>