<div class="home-container">
    <div class="middle">
      <div class="info">
        <div class="hi-title">Hello, It's me</div>
        <div class="name">Abdelrhman Mohamed</div>
        <div class="title-name">A <span class="high-light" [multiStrings]="100" [strings]="['Frontend Developer', 'Backend Developer']"></span></div>
        <p class="short-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, saepe.
          Dignissimos, reiciendis nesciunt cupiditate aliquam voluptate adipisci quos veritatis ut suscipit sit sapiente
          provident ipsa voluptates in ipsum, a eveniet!</p>
      </div>
    </div>
</div>