<div class="home-container">
  <div class="middle">
    <div class="info">
      <div class="hi-title">Hello, It's me</div>
      <div class="name">Abdelrhman Mohamed</div>
      <div class="title-name">A <span class="high-light" [multiStrings]="100"
          [strings]="['Frontend Developer', 'Backend Developer']"></span></div>
      <p class="short-description">A passionate full stack web developer with experience in developing web applications using Angular
        and Laravel. I enjoy learning new technologies and building engaging and interactive web applications. I have
        the ability to work with a talented team and help them build great products.</p>
    </div>
  </div>
</div>