<div class="projects-container">
  <div class="middle">
    <div class="page-title">latest <span class="high-light">Projects</span></div>
    <div class="projects">
      <div class="project" *ngFor="let project of projects; let index = index"
        style="background-image: url('{{ project.imagePath }}')">
        <div class="info">
          <div class="title">{{ project.title }}</div>
          <p class="description">{{ project.shortDescription }}</p>
          <div class="footer">

            <a [routerLink]="['/projects', index + 1]" class="project-link">
              Show more ...
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>