<div class="app-content">
  <div class="content-container">
    <router-outlet></router-outlet>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ab similique dolores doloremque, iste quis
    praesentium quisquam! Tenetur expedita earum repudiandae aut quam, minus quo velit architecto voluptatibus incidunt
    esse.
    Commodi, odio dignissimos est ducimus quo eaque neque asperiores fuga perspiciatis modi facilis porro necessitatibus
    architecto assumenda odit debitis fugiat aspernatur, totam, ut impedit fugit nesciunt nulla tenetur. Quidem,
    dolorem!
    In illum, quia molestiae quidem corrupti accusantium esse ipsa ab tenetur sunt tempora omnis laboriosam. Ducimus,
    omnis aut quas inventore nesciunt enim. Iure quasi ex nam alias impedit eligendi nisi!
    Quisquam pariatur aliquam ratione culpa natus vel nemo, autem commodi quos quasi! Neque veritatis voluptatibus
    quaerat
    facilis consequatur dolorum iusto fugit pariatur impedit maiores. Eius quasi et voluptatibus laudantium porro!
    Consequuntur laborum maiores, voluptate necessitatibus accusamus aliquid laudantium iure aut deleniti quaerat iusto
    debitis molestiae dolore sapiente adipisci dolorum cupiditate inventore officia minima quibusdam maxime incidunt
    minus
    error omnis. Assumenda!
    Quos nam quod laboriosam praesentium unde, sit atque labore dolorem vero commodi. Rem doloremque voluptatem
    pariatur,
    animi ducimus quidem quos exercitationem reprehenderit quia, veniam molestiae tempore aperiam, labore atque porro!
    Sequi possimus dolores quasi dignissimos in enim sit voluptatem laudantium commodi provident itaque aspernatur
    aperiam
    voluptas, earum, dolor, officiis vel aliquam eligendi illum beatae qui? Modi illum ullam omnis optio?
    Commodi eligendi voluptas quasi quisquam aut expedita molestiae minus temporibus sapiente, illum ex, iure repellat
    sunt placeat consequatur alias debitis dolore eaque quidem consectetur, tenetur voluptates provident voluptatum
    laudantium! In.
    Et recusandae perferendis, magni fugiat eveniet laborum iste atque, placeat mollitia aliquam molestiae! Ea
    aspernatur,
    maxime adipisci labore earum non omnis corporis aliquam voluptatibus aliquid fugiat atque recusandae necessitatibus
    vero!
    Magnam expedita fugiat neque velit quod culpa corrupti perspiciatis. Quae facilis voluptatum omnis nemo officia quos
    quis similique, dolor, atque doloribus animi cumque exercitationem totam blanditiis asperiores vero odio! Eaque!
  </div>
</div>