.app-content {
  background-color: #223;
  color: #fff;
  
  .content-container {
    max-width: 82.5rem;
    margin: auto;
    padding-top: 2rem;
    padding-top: 1rem;
    min-height: calc(100vh - 4rem - 3rem);
  }
}